@import "tailwindcss";

@layer utilities {
  .bg-grid-gray-700\/\[0\.2\] {
    background-image: linear-gradient(to right, #4b556333 1px, transparent 1px), linear-gradient(to bottom, #4b556333 1px, transparent 1px);
    background-size: 40px 40px;
  }
}

/* Custom styles for React Quill to match the dark theme */
.ql-custom .ql-toolbar {
  background: #1f2937;
  border-color: #4b5563 !important;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.ql-custom .ql-container {
  background: #374151;
  border-color: #4b5563 !important;
  color: #d1d5db;
  min-height: 200px;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  font-size: 1rem;
}

.ql-custom .ql-editor::before {
  color: #9ca3af !important;
  font-style: normal !important;
}

.ql-custom .ql-snow .ql-stroke {
  stroke: #9ca3af;
}

.ql-custom .ql-snow .ql-picker-label {
  color: #9ca3af;
}

.ql-custom .ql-snow .ql-picker {
  color: #9ca3af;
}